# Dependencies
node_modules

# Build output
dist
.astro

# Test output
playwright-report
test-results
.lighthouseci

# Editors and OS
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.DS_Store
